<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Arquivos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Gerenciador de Arquivos Fodastico</h1>

    <!-- Formulário para upload de arquivos -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>

    <h2>Arquivos:</h2>
    <ul>
        {% for arquivo in arquivos %}
            <li>
                {{ arquivo }}
                <!-- Botão para editar o arquivo -->
                <a href="/edit/{{ arquivo }}">Editar</a>
                <!-- Botão para download do arquivo -->
                <a href="/download/{{ arquivo }}">Download</a>
                <!-- Botão para excluir o arquivo -->
                <form action="/delete/{{ arquivo }}" method="post" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
